.header {
  background: var(--inputs);
}
.headerContainer {
  position: relative;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}

.headerLogo {
  position: absolute;
  top: 28px;
  left: 64px;
}
