.sideBar {
  border-radius: 20px;
  padding: 24px;
  background: var(--inputs);
  width: 360px;
  min-height: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.filterForm {
  width: 100%;
}
.filterText {
  font-weight: var(--semi-bold);
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.radioGroupWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.filterButtonWrapper {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.catalogButton {
  display: flex;
  gap: 4px;
}
