.wrapper {
  width: 888px;
  height: 840px;
  border-radius: 16px;
  padding: 24px;

  background: var(--inputs);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 43px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 426px;
}

.title {
  font-size: 24px;
  font-weight: var(--font-semi-bold);
}

.description {
  line-height: 150%;
  font-weight: var(--font-medium);
  text-align: center;
  color: var(--main);
}

.buttonWrapper {
  display: flex;
  width: 400px;
  justify-content: space-between;
  gap: 16px;
}
