.locationInputLabel {
  display: flex;
  flex-direction: column;

  row-gap: 8px;
}

.labelText {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  line-height: 150%;
  color: var(--gray);
}
.locationInput {
  width: 100%;
  border-radius: 12px;
  height: 56px;
  background: var(--white);
  border: none;
  color: var(--main);
  padding: 16px 16px 16px 48px;
}

.inputWrapper {
  position: relative;
}
.iconWrapper {
  position: absolute;
  top: 18px;
  left: 20px;
  opacity: 0.6;
}

.locationInput:focus + .iconWrapper,
.locationInput:not(:placeholder-shown) + .iconWrapper {
  opacity: 1;
}
