.camperDetailPageWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}

.camperPageFirstRow {
  display: flex;
  column-gap: 24px;
}
.camperPageSecondRow {
  display: flex;
  flex-direction: column;
}
.reviewsWrapper {
  display: flex;
  column-gap: 48px;
}
