.camperDetailPageWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

.camperPageFirstRow {
  display: flex;
  column-gap: 24px;
}
.camperPageSecondRow {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.reviewsWrapper {
  display: flex;
  column-gap: 48px;
  flex-basis: calc((100% - 48px) / 2);
}
